
.formlines{
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 250px;
}
.randomtext{
    color: white;
    text-shadow: 2px 2px 5px black;
}
.navbar-text{
    color: white;
    text-shadow: 2px 2px 5px black;
    font-size: x-large;
    cursor: pointer;
}
.navbar-admin{
    margin-top: 12px;
    color: white;
    text-shadow: 2px 2px 5px black;
    font-size: xx-large;
    float: left;
}
.VacCard{
    margin-inline: 35%;
}
.card-text{
    overflow: auto;
}
.card{
min-width: 175px;
height: 270px;
}
