
.formlines{
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 250px;
}
.randomtext{
    color: white;
    text-shadow: 2px 2px 5px black;
}
.navbar-text{
    color: white;
    text-shadow: 2px 2px 5px black;
    font-size: x-large;
    cursor: pointer;
}
.navbar-admin{
    margin-top: 12px;
    color: white;
    text-shadow: 2px 2px 5px black;
    font-size: xx-large;
    float: left;
}
.VacCard{
    margin-inline: 35%;
}
.card-description{
    overflow:auto;
    height: 150px;
}
.card{
    margin-inline:10%;
    height: 450px;
}
.card-img{
    width: 100%;
    height:200px;
}
.form-check-input{
    margin-left: 30%;
}
.card-dates{
    font-size: large;
}
.likeicon{ 
    cursor: pointer;
    color: black;
}
.likeicon::after{
    transform: color(red);
    transition-duration: 0.5s;
}